Employee Undertaking App/Microsoft.Flow/flows/95663329-c1b7-49b3-a6fc-4cad563a63be/definition.json
{"name":"cdbf67b0-f93a-47d6-8e35-67f3ff3a9fd0","id":"/providers/Microsoft.Flow/flows/cdbf67b0-f93a-47d6-8e35-67f3ff3a9fd0","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Driver Undertaking PDF","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"3e9b771f-e997-4653-a4b4-c7df2f0631ce","type":"User","tenantId":"9652d7c2-1ccf-4940-8151-4a92bd474ed0"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-08-01T03:21:27.0471813Z","connectionKeySavedTimeKey":"2025-08-01T03:21:27.0471813Z","creationSource":null,"modifiedSources":"Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"db9d0fcf-16a8-46c3-a33d-756859ba3a7d"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"date":{"title":"Today","type":"string","format":"date","x-ms-dynamically-added":true,"description":"Please enter or select a date (YYYY-MM-DD)","x-ms-content-hint":"DATE"},"text":{"title":"Driver Name","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_1":{"title":"License","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"number":{"title":"Contact","type":"number","x-ms-dynamically-added":true,"description":"Please enter a number","x-ms-content-hint":"NUMBER"},"date_1":{"title":"Validity","type":"string","format":"date","x-ms-dynamically-added":true,"description":"Please enter or select a date (YYYY-MM-DD)","x-ms-content-hint":"DATE"},"date_2":{"title":"From","type":"string","format":"date","x-ms-dynamically-added":true,"description":"Please enter or select a date (YYYY-MM-DD)","x-ms-content-hint":"DATE"},"date_3":{"title":"To","type":"string","format":"date","x-ms-dynamically-added":true,"description":"Please enter or select a date (YYYY-MM-DD)","x-ms-content-hint":"DATE"},"text_2":{"title":"Employee Name","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_3":{"title":"Designation","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_4":{"title":"Department","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"}},"required":["date","text","text_1","number","date_1","date_2","date_3","text_2","text_3","text_4"]}}}},"actions":{"Compose":{"runAfter":{},"metadata":{"operationMetadataId":"7761432f-6a84-4261-b94a-47b5e6787021"},"type":"Compose","inputs":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\" />\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\" />\n<title>Driver Undertaking</title>\n<style>\n  body {\n    font-family: Arial, sans-serif;\n    margin: 40px;\n    line-height: 1.2;\n    color: #333;\n  }\n  .container {\n    max-width: 700px;\n    margin: auto;\n  }\n  h2 {\n    text-align: center;\n    margin-bottom: 40px;\n  }\n  p {\n    margin: 16px 0;\n  }\n  .signature {\n    margin-top: 60px;\n  }\n</style>\n</head>\n<body>\n  <div class=\"container\">\n    <h2>Driver Undertaking</h2>\n    \n    <p style=\"text-align: right;\"><strong>Date: @{triggerBody()['date']}</strong></p>\n\n    <p>To,</p>\n\n    <p>The Head,<br />\n    Human Resources,<br />\n    Mercedes-Benz India Pvt. Ltd.</p>\n\n    <p>\n      This has reference to the MB Car being allotted to me by Company for my official and personal use. I understand and appreciate the fact that the safety and proper upkeep of the company asset as well as safety of passengers is of crucial importance. This is particularly true considering the unruly traffic conditions and traffic behavior in Pune, I therefore appreciate that the engagement of the driver is essential and is in the best interest of the Company and myself. \n    </p>\n\n    <p>\n      I confirm that I have engaged a personal driver at my own cost for driving MB Car being allotted to me. I will also ensure that the driver will adhere to MBIL's rules and guidelines pertaining to discipline applicable from time to time. Please find the driver details below:\n    </p>\n\n    <p>Driver Name :<strong> @{triggerBody()['text']}</strong></p>\n    <p>Mobile No. :<strong> @{triggerBody()['number']}</strong></p>\n    <p>Driving License No. :<strong> @{triggerBody()['text_1']}</strong></p>\n    <p>Driving License Valid Till : <strong>@{triggerBody()['date_1']}</strong></p>\n\n    <p>\n      I hereby submit the quarterly declaration for the period from <strong>@{triggerBody()['date_2']}</strong> to <strong>@{triggerBody()['date_3']}</strong> about engagement of driver.\n    </p>\n\n    <p>\n      I also undertake to inform the company in case I discontinue or change the driver at any time in the future.\n    </p>\n\n    <p>\n      I request you to pay me special assistance in partial financial support towards engaging driver at my own cost.\n    </p>\n\n    <p>Thanking You,</p>\n\n    <div class=\"signature\">\n      <p><strong>@{triggerBody()['text_2']}<strong></p>\n      <p>@{triggerBody()['text_3']}</p>\n      <p>@{triggerBody()['text_4']}</p>\n    </div>\n  </div>\n</body>\n</html>\n"},"Respond_to_a_Power_App_or_flow":{"runAfter":{"Compose_2":["Succeeded"]},"metadata":{"operationMetadataId":"41bca3fb-f05f-45d2-8b40-f04e55fec152"},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"pdflink":"@{outputs('Compose_2')}"},"schema":{"type":"object","properties":{"pdflink":{"title":"pdflink","x-ms-dynamically-added":true,"type":"string"}}}}},"Get_file_metadata":{"runAfter":{"Create_file_4":["Succeeded"]},"metadata":{"operationMetadataId":"2a59e020-53e6-4959-8676-17f50f3d3932"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileMetadata"},"parameters":{"dataset":"https://corpdir.sharepoint.com/sites/DWT_EmployeeUndertaking","id":"@outputs('Create_file_4')?['body/Id']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Compose_2":{"runAfter":{"Get_file_metadata":["Succeeded"]},"metadata":{"operationMetadataId":"c270765b-1826-4498-856f-50684d238328"},"type":"Compose","inputs":"https://corpdir.sharepoint.com/sites/DWT_EmployeeUndertaking/Shared%20Documents/Driver%20Undertaking%20PDFs/@{outputs('Get_file_metadata')?['body/Name']}\n"},"Create_file":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"3a33f7d1-e700-4b8f-a9bc-1b1ef8048ca3"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CreateFile"},"parameters":{"folderPath":"/Driver Undertaking","name":"@{triggerBody()['text_2']}-Driver Undertaking.html","body":"@outputs('Compose')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Convert_file_using_path":{"runAfter":{"Create_file":["Succeeded"]},"metadata":{"operationMetadataId":"a4b282bf-f308-41a4-869a-4471db36c80c"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"ConvertFileByPath"},"parameters":{"path":"@outputs('Create_file')?['body/Path']","type":"PDF"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_file_2":{"runAfter":{"Convert_file_using_path":["Succeeded"]},"metadata":{"operationMetadataId":"52b24174-abdb-4550-94a9-a113cc2a8e3b"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CreateFile"},"parameters":{"folderPath":"/Driver Undertaking","name":"@{triggerBody()['text_2']}-Driver Undertaing.pdf","body":"@body('Convert_file_using_path')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Get_file_content":{"runAfter":{"Create_file_2":["Succeeded"]},"metadata":{"operationMetadataId":"d2ccc48d-278b-4444-945a-185e340798cf"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"GetFileContent"},"parameters":{"id":"@outputs('Create_file_2')?['body/Id']","inferContentType":true},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_file_4":{"runAfter":{"Get_file_content":["Succeeded"]},"metadata":{"operationMetadataId":"b129fed8-6b92-49d6-887e-b3b55e51671e"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"parameters":{"dataset":"https://corpdir.sharepoint.com/sites/DWT_EmployeeUndertaking","folderPath":"/Shared Documents/Driver Undertaking PDFs","name":"@{triggerBody()['text_2']} - DriverUndertaking @{triggerBody()['date_2']} to@{triggerBody()['date_3']}.pdf","body":"@body('Get_file_content')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Delete_file_2":{"runAfter":{"Respond_to_a_Power_App_or_flow":["Succeeded"]},"metadata":{"operationMetadataId":"4b9d3aa1-68ab-4ea7-80fe-70a54c631ffc"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"DeleteFile"},"parameters":{"id":"@outputs('Create_file')?['body/Id']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Delete_file_3":{"runAfter":{"Delete_file_2":["Succeeded"]},"metadata":{"operationMetadataId":"8ea9d5ad-e0eb-45f3-96b6-587707c23c96"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"DeleteFile"},"parameters":{"id":"@outputs('Create_file_2')?['body/Id']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-8bd76966-fd19-4920-8848-1a15d468cd70","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_onedriveforbusiness":{"connectionName":"shared-onedriveforbu-d2872c4b-cfc7-4edd-bd41-df76a7278b8f","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","tier":"NotSpecified","apiName":"onedriveforbusiness","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}