Clear Excel Data/Microsoft.Flow/flows/9c356344-f298-4181-8a0e-c416f537b266/definition.json
{"name":"3f51c6b1-3abb-460f-b339-d73273b02e7e","id":"/providers/Microsoft.Flow/flows/3f51c6b1-3abb-460f-b339-d73273b02e7e","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Delete Excel Data","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"3e9b771f-e997-4653-a4b4-c7df2f0631ce","type":"User","tenantId":"9652d7c2-1ccf-4940-8151-4a92bd474ed0"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-08-01T08:57:17.6739643Z","connectionKeySavedTimeKey":"2025-08-01T08:57:17.6739643Z","creationSource":null,"modifiedSources":"Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"23f26d71-9dcf-49c4-9aca-0794d9fe4d83"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"List_rows_present_in_a_table":{"runAfter":{},"metadata":{"0162XSMHX54BYCIZSAY5G37WII53IVBGMH":"/Dashboard App/Export to Excel Template.xlsx","operationMetadataId":"beb0b848-4768-4626-b169-701b0f3522c0","tableId":"{24A1D0F1-7E1E-4F7C-9005-74BBF3716EC1}","01BELHMESGLLTUWLMIDBEIZU4F45TTF2LE":"/Export to Excel Template.xlsx","017OGBZADIM2WWWMKF5ZDYOVTIRZILP3PN":"/Export to Excel Template.xlsx"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"parameters":{"source":"groups/9b8f7ee9-f00d-4895-a484-541bb1a506a6","drive":"b!t6G9cREVvU2OMizQZ9EIdIvaq7gMc7RMvJ0R5wn1qyU9ggox48bOQbUz68m7J3Xs","file":"017OGBZADIM2WWWMKF5ZDYOVTIRZILP3PN","table":"{24A1D0F1-7E1E-4F7C-9005-74BBF3716EC1}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Apply_to_each":{"foreach":"@outputs('List_rows_present_in_a_table')?['body/value']","actions":{"Delete_a_row":{"runAfter":{},"metadata":{"0162XSMHX54BYCIZSAY5G37WII53IVBGMH":"/Dashboard App/Export to Excel Template.xlsx","operationMetadataId":"fcf2f016-e60f-4658-ab9f-d75417b11593","tableId":"{24A1D0F1-7E1E-4F7C-9005-74BBF3716EC1}","01BELHMESGLLTUWLMIDBEIZU4F45TTF2LE":"/Export to Excel Template.xlsx","017OGBZADIM2WWWMKF5ZDYOVTIRZILP3PN":"/Export to Excel Template.xlsx"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"DeleteItem"},"parameters":{"source":"groups/9b8f7ee9-f00d-4895-a484-541bb1a506a6","drive":"b!t6G9cREVvU2OMizQZ9EIdIvaq7gMc7RMvJ0R5wn1qyU9ggox48bOQbUz68m7J3Xs","file":"017OGBZADIM2WWWMKF5ZDYOVTIRZILP3PN","table":"{24A1D0F1-7E1E-4F7C-9005-74BBF3716EC1}","idColumn":"CertificateNo","id":"@items('Apply_to_each')?['CertificateNo']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"List_rows_present_in_a_table":["Succeeded"]},"metadata":{"operationMetadataId":"9f008389-fbf9-43fb-9121-16b742937d20"},"type":"Foreach"}}},"connectionReferences":{"shared_excelonlinebusiness":{"connectionName":"shared-excelonlinebu-a8ff0943-7c36-4acc-9553-667676c990fd","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified","apiName":"excelonlinebusiness","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}