Approval Email/Microsoft.Flow/flows/6bf98b19-bd53-4972-bb5d-5db84fe7f51c/definition.json
{"name":"34c5b47b-5023-490e-a302-378e98e3ce72","id":"/providers/Microsoft.Flow/flows/34c5b47b-5023-490e-a302-378e98e3ce72","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Send Email to L4s","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"3e9b771f-e997-4653-a4b4-c7df2f0631ce","type":"User","tenantId":"9652d7c2-1ccf-4940-8151-4a92bd474ed0"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-07-31T06:45:04.6181958Z","connectionKeySavedTimeKey":"2025-07-31T06:45:04.6181958Z","creationSource":null,"modifiedSources":"Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"5d57b937-5cd2-4716-8121-7cbbf1f6d216"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"text":{"title":"Email ID","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_1":{"title":"Subject","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"date":{"title":"Today","type":"string","format":"date","x-ms-dynamically-added":true,"description":"Please enter or select a date (YYYY-MM-DD)","x-ms-content-hint":"DATE"},"text_3":{"title":"Driver Name","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_4":{"title":"License","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"number":{"title":"Contact","type":"number","x-ms-dynamically-added":true,"description":"Please enter a number","x-ms-content-hint":"NUMBER"},"date_1":{"title":"Validity","type":"string","format":"date","x-ms-dynamically-added":true,"description":"Please enter or select a date (YYYY-MM-DD)","x-ms-content-hint":"DATE"},"date_2":{"title":"From","type":"string","format":"date","x-ms-dynamically-added":true,"description":"Please enter or select a date (YYYY-MM-DD)","x-ms-content-hint":"DATE"},"date_3":{"title":"To","type":"string","format":"date","x-ms-dynamically-added":true,"description":"Please enter or select a date (YYYY-MM-DD)","x-ms-content-hint":"DATE"},"text_5":{"title":"Employee Name","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_6":{"title":"Designation","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_7":{"title":"Department","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"}},"required":["text","text_1","date","text_3","text_4","number","date_1","date_2","date_3","text_5","text_6","text_7"]}}}},"actions":{"Send_an_email_(V2)":{"runAfter":{"Convert_file":["Succeeded"]},"metadata":{"operationMetadataId":"645a623b-a241-409a-82cd-7c016c209bc2"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@triggerBody()['text']","emailMessage/Subject":"@triggerBody()['text_1']","emailMessage/Body":"<p class=\"editor-paragraph\">Dear @{triggerBody()['text_5']}<br><br>I hope this message finds you well.<br><br>This is to inform you that your request for a driver, @{triggerBody()['text_3']}, has been <b><strong class=\"editor-text-bold\">approved</strong></b> by HR for the vehicle provided by Mercedes Benz India.<br>Please find the details of the driver below:<br><br><b><strong class=\"editor-text-bold\">Driver Name:</strong></b> @{triggerBody()['text_3']}<br><b><strong class=\"editor-text-bold\">Driver Contact No.:</strong></b> @{triggerBody()['number']}<br><b><strong class=\"editor-text-bold\">Driver License No.:</strong></b> @{triggerBody()['text_4']}<br><b><strong class=\"editor-text-bold\">License Validity:</strong></b> @{triggerBody()['date_1']}<br><b><strong class=\"editor-text-bold\">Duration:</strong></b> @{triggerBody()['date_2']} <i><em class=\"editor-text-italic\">to</em></i> @{triggerBody()['date_3']}<br><br>Should you have any further requirements or questions, please feel free to reach out.<br><br>Best Regards,<br>Human Relations<br>Mercedes-Benz India Pvt Ltd&nbsp;<br><i><em class=\"editor-text-italic\" style=\"background-color: rgb(255, 255, 255); color: rgb(155, 155, 155);\">This is an auto generated mail. Please do not reply.</em></i></p>","emailMessage/Attachments":[{"Name":"@{triggerBody()['text_5']}_@{triggerBody()['date_2']}_to_@{triggerBody()['date_3']}_Undertaking.pdf","ContentBytes":"@body('Convert_file')"}],"emailMessage/Importance":"Normal"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Compose":{"runAfter":{},"metadata":{"operationMetadataId":"5a5ef591-1871-4b86-b2b9-05512922c64e"},"type":"Compose","inputs":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\" />\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\" />\n<title>Driver Undertaking</title>\n<style>\n  body {\n    font-family: Arial, sans-serif;\n    margin: 40px;\n    line-height: 1.2;\n    color: #333;\n  }\n  .container {\n    max-width: 700px;\n    margin: auto;\n  }\n  h2 {\n    text-align: center;\n    margin-bottom: 40px;\n  }\n  p {\n    margin: 16px 0;\n  }\n  .signature {\n    margin-top: 60px;\n  }\n</style>\n</head>\n<body>\n  <div class=\"container\">\n    <h2>Driver Undertaking</h2>\n    \n    <p style=\"text-align: right;\"><strong>Date: @{triggerBody()['date']}</strong></p>\n\n    <p>To,</p>\n\n    <p>The Head,<br />\n    Human Resources,<br />\n    Mercedes-Benz India Pvt. Ltd.</p>\n\n    <p>\n      This has reference to the MB Car being allotted to me by Company for my official and personal use. I understand and appreciate the fact that the safety and proper upkeep of the company asset as well as safety of passengers is of crucial importance. This is particularly true considering the unruly traffic conditions and traffic behavior in Pune, I therefore appreciate that the engagement of the driver is essential and is in the best interest of the Company and myself. \n    </p>\n\n    <p>\n      I confirm that I have engaged a personal driver at my own cost for driving MB Car being allotted to me. I will also ensure that the driver will adhere to MBIL's rules and guidelines pertaining to discipline applicable from time to time. Please find the driver details below:\n    </p>\n\n    <p>Driver Name :<strong>@{triggerBody()['text_3']} </strong></p>\n    <p>Mobile No. :<strong> @{triggerBody()['number']}</strong></p>\n    <p>Driving License No. :<strong> @{triggerBody()['text_4']}</strong></p>\n    <p>Driving License Valid Till : <strong>@{triggerBody()['date_1']}</strong></p>\n\n    <p>\n      I hereby submit the quarterly declaration for the period from <strong>@{triggerBody()['date_2']}</strong> to <strong>@{triggerBody()['date_3']}</strong> about engagement of driver.\n    </p>\n\n    <p>\n      I also undertake to inform the company in case I discontinue or change the driver at any time in the future.\n    </p>\n\n    <p>\n      I request you to pay me special assistance in partial financial support towards engaging driver at my own cost.\n    </p>\n\n    <p>Thanking You,</p>\n\n    <div class=\"signature\">\n      <p><strong>@{triggerBody()['text_5']}<strong></p>\n      <p>@{triggerBody()['text_6']}</p>\n      <p>@{triggerBody()['text_7']}</p>\n    </div>\n  </div>\n</body>\n</html>\n"},"Create_file":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"a3a59d84-4388-40c7-8d80-7f19974e3389"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CreateFile"},"parameters":{"folderPath":"/Driver Undertaking","name":"@{triggerBody()['text_5']}_Undertaking.html","body":"@outputs('Compose')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Convert_file":{"runAfter":{"Create_file":["Succeeded"]},"metadata":{"operationMetadataId":"43afc13b-eccf-4a13-9179-8f7ebd83b53a"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"ConvertFile"},"parameters":{"id":"@outputs('Create_file')?['body/Id']","type":"PDF"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Delete_file":{"runAfter":{"Send_an_email_(V2)":["Succeeded"]},"metadata":{"operationMetadataId":"e38099c1-82a4-45ab-9834-493ecd0b11a7"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"DeleteFile"},"parameters":{"id":"@outputs('Create_file')?['body/Id']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"connectionReferences":{"shared_office365":{"connectionName":"shared-office365-0f2dadf2-4221-4bae-80fe-ea6b4e1113fe","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified","apiName":"office365","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_onedriveforbusiness":{"connectionName":"shared-onedriveforbu-d2872c4b-cfc7-4edd-bd41-df76a7278b8f","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","tier":"NotSpecified","apiName":"onedriveforbusiness","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}