Employee Undertaking App/Microsoft.Flow/flows/1b265c6f-afb5-4436-b0fc-bc975fae4f14/definition.json
{"name":"4fadd7e4-1b53-4400-bf91-1ca3a4dbdc1d","id":"/providers/Microsoft.Flow/flows/4fadd7e4-1b53-4400-bf91-1ca3a4dbdc1d","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Export to excel","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"3e9b771f-e997-4653-a4b4-c7df2f0631ce","type":"User","tenantId":"9652d7c2-1ccf-4940-8151-4a92bd474ed0"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-08-01T03:34:57.3469316Z","connectionKeySavedTimeKey":"2025-08-01T03:34:57.3469316Z","creationSource":null,"modifiedSources":"Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"243daf3c-3dc6-40ac-be1c-37dc1985c463"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"text":{"title":"json","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"}},"required":["text"]}}}},"actions":{"Initialize_variable":{"runAfter":{},"metadata":{"operationMetadataId":"a165b9f4-debe-4220-a518-776e41683319"},"type":"InitializeVariable","inputs":{"variables":[{"name":"jsonData","type":"string","value":"@triggerBody()['text']"}]}},"Parse_JSON":{"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"25172686-2527-47ec-b1ba-8669158af62f"},"type":"ParseJson","inputs":{"content":"@variables('jsonData')","schema":{"type":"array","items":{"type":"object","properties":{"CertificateNo":{"type":"string"},"CostCentre":{"type":"string"},"DriverLicenseNo":{"type":"string"},"DriverName":{"type":"string"},"DriverPhone":{"type":"string"},"EmployeeEmail":{"type":"string"},"EmployeeName":{"type":"string"},"HRStatus":{"type":"string"},"PeriodFrom":{"type":"string"},"PeriodTo":{"type":"string"},"StatusDate":{"type":"string"},"SubmissionDate":{"type":"string"},"TicketNo":{"type":"string"},"ValidTo":{"type":"string"}},"required":["CertificateNo","CostCentre","DriverLicenseNo","DriverName","DriverPhone","EmployeeEmail","EmployeeName","HRStatus","PeriodFrom","PeriodTo","StatusDate","SubmissionDate","TicketNo","ValidTo"]}}}},"Apply_to_each_2":{"foreach":"@body('Parse_JSON')","actions":{"Add_a_row_into_a_table":{"runAfter":{},"metadata":{"0162XSMHX54BYCIZSAY5G37WII53IVBGMH":"/Dashboard App/Export to Excel Template.xlsx","operationMetadataId":"39d38993-80a0-4608-9257-033e7abec49f","tableId":"{24A1D0F1-7E1E-4F7C-9005-74BBF3716EC1}","01BELHMESGLLTUWLMIDBEIZU4F45TTF2LE":"/Export to Excel Template.xlsx","017OGBZADIM2WWWMKF5ZDYOVTIRZILP3PN":"/Export to Excel Template.xlsx"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"AddRowV2"},"parameters":{"source":"groups/9b8f7ee9-f00d-4895-a484-541bb1a506a6","drive":"b!t6G9cREVvU2OMizQZ9EIdIvaq7gMc7RMvJ0R5wn1qyU9ggox48bOQbUz68m7J3Xs","file":"017OGBZADIM2WWWMKF5ZDYOVTIRZILP3PN","table":"{24A1D0F1-7E1E-4F7C-9005-74BBF3716EC1}","item/CertificateNo":"@items('Apply_to_each_2')['CertificateNo']","item/TicketNo":"@items('Apply_to_each_2')['TicketNo']","item/EmployeeName":"@items('Apply_to_each_2')['EmployeeName']","item/CostCentre":"@items('Apply_to_each_2')['CostCentre']","item/PeriodFrom":"@items('Apply_to_each_2')['PeriodFrom']","item/PeriodTo":"@items('Apply_to_each_2')['PeriodTo']","item/DriverName":"@items('Apply_to_each_2')['DriverName']","item/DriverPhone":"@items('Apply_to_each_2')['DriverPhone']","item/DriverLicenseNo":"@items('Apply_to_each_2')['DriverLicenseNo']","item/ValidTo":"@items('Apply_to_each_2')['ValidTo']","item/SubmissionDate":"@items('Apply_to_each_2')['SubmissionDate']","item/HRStatus":"@items('Apply_to_each_2')['HRStatus']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"Parse_JSON":["Succeeded"]},"metadata":{"operationMetadataId":"f453add8-8fd4-4c74-8345-145ab5ad4a29"},"type":"Foreach"},"Respond_to_a_Power_App_or_flow":{"runAfter":{"Create_sharing_link_for_a_file_or_folder":["Succeeded"]},"metadata":{"operationMetadataId":"4d6dc478-152b-42f1-971c-589e6b60cfbc"},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"link":"@outputs('Create_sharing_link_for_a_file_or_folder')?['body/link/webUrl']"},"schema":{"type":"object","properties":{"link":{"title":"link","x-ms-dynamically-added":true,"type":"string"}}}}},"Create_sharing_link_for_a_file_or_folder":{"runAfter":{"Apply_to_each_2":["Succeeded"]},"metadata":{"operationMetadataId":"6eda40c4-06f6-4fec-a312-c616acf1e55f"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateSharingLink"},"parameters":{"dataset":"https://corpdir.sharepoint.com/sites/DWT_EmployeeUndertaking","table":"310a823d-c6e3-41ce-b533-ebc9bb2775ec","id":1,"permission/type":"view","permission/scope":"organization"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"connectionReferences":{"shared_excelonlinebusiness":{"connectionName":"shared-excelonlinebu-a8ff0943-7c36-4acc-9553-667676c990fd","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified","apiName":"excelonlinebusiness","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_sharepointonline":{"connectionName":"shared-sharepointonl-8bd76966-fd19-4920-8848-1a15d468cd70","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}